body {
    background-color: bisque;
}

header {
    background-color: rgb(6, 6, 6);
    color: rgb(206, 38, 38);
    text-align: center;
}

li {
    display: inline;
    border: solid red 1px;
    background-color: darkkhaki;
    padding: 10px;
    margin: 150px;
}

#hero {
    width: 700px;
}

.recruit {
    width: 400px;
}

.blue {
    color: blue;
}

section {
    border: solid red 2px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}